<footer class="footer  bg-light">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container pb-1 bottom_border">
        <div>
                <p align="center" >
                    <img src="/img/logo.png" width="50" height="50" alt="">
                ExpressHR @ 2018</p>
        </div>
    </div>
</footer>