<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand" href="/">ExpressHR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/"> <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink"><i class="fas fa-user"></i> {{user.name}}</a>
            <div class="dropdown-menu">
                <a href="/job/add" class="dropdown-item"> <i class="fas fa-pencil-alt"></i> Post Job Opening</a>
                <a href="/job/myjobs" class="dropdown-item"> <i class="fas fa-scroll"></i> Posted Jobs</a>
                <a href="/examtemplate/add" class="dropdown-item"> <i class="fas fa-plus"></i> Add Exam Template</a>
                <a href="/examtemplate/" class="dropdown-item"> <i class="fas fa-sticky-note"></i> Show Exam Templates</a>
            </div>
          </li>
          <li class="nav-item">
            <a href="/users/logout" class="nav-link"> <i class="fas fa-sign-out-alt"></i> Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a href="/users/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a href="/users/register" class="nav-link">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>