<div class="jumbotron text-center mb-2">
    <h1 class="display-3">Are you a HR ?</h1>
    <p class="lead">ExpressHR makes it easier to manage your Jop openings applicants applications, filtration and
        examination. </p>
    <a href="/job/add" class="btn btn-primary btn-lg"> <i class="fas fa-pencil-alt"></i> Add a Job Opening</a>
    {{#if user}}
        <a href="/job/myjobs" class="btn btn-warning btn-lg"> <i class="fas fa-briefcase"></i> View Your Posted Jobs </a>
        <a href="/examtemplate/add/" class="btn btn-dark btn-lg"><i class="fas fa-plus"></i> Create Your own
            personalized Exams </a>
    {{/if}}
</div>
<div class="jumbotron bg-primary text-white text-center">
    <h1 class="display-3">Are you an Applicant ?</h1>
    <p class="lead"> Browse for Jobs, Apply for a job that fits, If Passed you will receive an Exam to proceed with your
        application. </p>
    <a href="/job/" class="btn btn-light btn-lg"><i class="fas fa-search"></i> Browse and Apply for Job Openings</a>
    {{#if user}}
    <a href="/exam/myexams" class="btn btn-dark btn-lg"><i class="fas fa-scroll"></i> View Your Exams</a>
    {{/if}}
</div>