<div class="jumbotron text-center">
    <h1 class="display-3">Are you a HR ?</h1>
    <p class="lead">ExpressHR makes it easier to manage your Jop openings applicants applications, filtration and examination. </p>
    <a href="/job/add" class="btn btn-primary btn-lg">Add a Job Opening</a>
    <a href="/examtemplate/add/" class="btn btn-dark btn-lg">Create Your own personalized Exams </a>
</div>
<div class="jumbotron text-center">
    <h1 class="display-3">Are you an Applicant ?</h1>
    <p class="lead"> Browse for Jobs, Apply for a job that fits, If Passed you will receive an Exam to proceed with your application.  </p>
    <a href="/job/add" class="btn btn-primary btn-lg">Browse and Apply for Job Openings</a>
    <a href="/job/add" class="btn btn-dark btn-lg">View Passed Application Exams</a>
</div>